@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-blue: 201 11% 95%;
    --primary-purple: 215 7% 93%;
    --primary-green: 124 22% 83%;
    --primary-cyan: 205 23% 76%;
    --secundary-blue: 202 31% 85%;
    --secundary-purple: 231 41% 79%;
    --secundary-green: 158 29% 76%;
    --card-background: 210 2% 98%;

    --background: white;
    --foreground: black;
  }

  [data-theme='dark'] {
    --background: black;
    --foreground: white;
  }
}
