@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 240 14% 97%;
        --foreground: 0 0% 11%;
        --primary: 211 99% 55%;
        --primary-foreground: 0 0% 100%;
        --primary-light: 201 100% 95%;
        --secondary: 280 68% 60%;
        --secondary-foreground: 0 0% 100%;
        --disable: 215 49% 93%;
        --green: 135 59% 49%;
        --mint: 177 100% 39%;
        --yellow: 48 100% 50%;
        --orange: 35 100% 50%;
        --red: 3 100% 59%;
        --border: 218 15% 21%;
        --input: 218 15% 21%;
    }

    .dark {
        --background: 0 0% 11%;
        --foreground: 0 0% 100%;
        --primary: 211 99% 55%;
        --primary-foreground: 0 0% 100%;
        --primary-light: 201 100% 95%;
        --secondary: 280 68% 60%;
        --secondary-foreground: 0 0% 100%;
        --disable: 215 49% 93%;
        --green: 135 59% 49%;
        --mint: 177 100% 39%;
        --yellow: 48 100% 50%;
        --orange: 35 100% 50%;
        --red: 3 100% 59%;
        --border: 218 15% 21%;
        --input: 218 15% 21%;
    }
}
